<div class="jumbotron text-center">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        #map-canvas {
            height: 70%;
            width: 75%;
            margin: 0px;
            padding: 0px;
        }
    </style>
    <h1>Intro to Maps Stuff</h1>
    <p>{{ status }}</p>
    <div id="map-canvas"></div>
    <input type="text" ng-model="textbox.textBoxValue" name="textBoxValue">
    <input type="text" ng-model="textbox.textBoxValueTwo" name="textBoxValueTwo">
    <button ng-click="createLocation()">Create</button>
</div>