<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>

<div class="text-center">
    <md-toolbar class="md-primary md-hue-1">
        <h2 class="md-flex">My groups</h2>
    </md-toolbar>
</div>

<!--&lt;!&ndash;<md-dialog aria-label="Mango (Fruit)">&ndash;&gt;-->
<!--<md-content class="md-padding">-->
    <!--<form name="userForm">-->
        <!--<div layout layout-sm="column">-->
            <!--<md-input-container flex>-->
                <!--<label>First Name</label>-->
                <!--<input ng-model="user.firstName" placeholder="Placeholder text"> </md-input-container>-->
            <!--<md-input-container flex>-->
                <!--<label>Last Name</label>-->
                <!--<input ng-model="theMax"> </md-input-container>-->
        <!--</div>-->
        <!--<md-input-container flex>-->
            <!--<label>Address</label>-->
            <!--<input ng-model="user.address"> </md-input-container>-->
        <!--<div layout layout-sm="column">-->
            <!--<md-input-container flex>-->
                <!--<label>City</label>-->
                <!--<input ng-model="user.city"> </md-input-container>-->
            <!--<md-input-container flex>-->
                <!--<label>State</label>-->
                <!--<input ng-model="user.state"> </md-input-container>-->
            <!--<md-input-container flex>-->
                <!--<label>Postal Code</label>-->
                <!--<input ng-model="user.postalCode"> </md-input-container>-->
        <!--</div>-->
        <!--<md-input-container flex>-->
            <!--<label>Biography</label>-->
            <!--<textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>-->
        <!--</md-input-container>-->
    <!--</form>-->
<!--</md-content>-->
<!--<div class="md-actions" layout="row"> <span flex></span>-->
    <!--<md-button ng-click="answer(\'not useful\')"> Cancel </md-button>-->
    <!--<md-button ng-click="answer(\'useful\')" class="md-primary"> Save </md-button>-->
<!--</div>-->
<!--&lt;!&ndash;</md-dialog>&ndash;&gt;-->

<!--<md-dialog aria-label="Mango (Fruit)">-->
    <!--<md-content class="md-padding">-->
        <!--<label>Search:-->
            <!--<input ng-model="searchText">-->
        <!--</label>-->
        <!--<table id="searchTextResults">-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Phone</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="friend in friends | filter:searchText">-->
                <!--<td>{{friend.name}}</td>-->
                <!--<td>{{friend.phone}}</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<hr>-->
        <!--<label>Any:-->
            <!--<input ng-model="search.$">-->
        <!--</label>-->
        <!--<br>-->
        <!--<label>Name only-->
            <!--<input ng-model="search.name">-->
        <!--</label>-->
        <!--<br>-->
        <!--<label>Phone only-->
            <!--<input ng-model="search.phone">-->
        <!--</label>-->
        <!--<br>-->
        <!--<label>Equality-->
            <!--<input type="checkbox" ng-model="strict">-->
        <!--</label>-->
        <!--<br>-->
        <!--<table id="searchObjResults">-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Phone</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="friendObj in friends | filter:search:strict">-->
                <!--<td>{{friendObj.name}}</td>-->
                <!--<td>{{friendObj.phone}}</td>-->
            <!--</tr>-->
        <!--</table>-->

    <!--</md-content>-->
    <!--<div class="md-actions" layout="row"> <span flex></span>-->
        <!--<md-button ng-click="answer(\'not useful\')"> Cancel </md-button>-->
        <!--<md-button ng-click="answer(\'useful\')" class="md-primary"> Save </md-button>-->
    <!--</div>-->
<!--</md-dialog>-->

<!--<div ng-init="friends=[{name:'John', phone:'555-1276'},{name:'Mary', phone:'800-BIG-MARY'},{name:'Mike', phone:'555-4321'},{name:'Adam', phone:'555-5678'},{name:'Julie', phone:'555-8765'},{name:'Juliette', phone:'555-5678'}]"></div>-->
<!--<label>Search:-->
    <!--<input ng-model="searchText">-->
<!--</label>-->
<!--<table id="searchTextResults">-->
    <!--<tr>-->
        <!--<th>Name</th>-->
        <!--<th>Phone</th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="friend in friends | filter:searchText">-->
        <!--<td>{{friend.name}}</td>-->
        <!--<td>{{friend.phone}}</td>-->
    <!--</tr>-->
<!--</table>-->
<!--<hr>-->
<!--<label>Any:-->
    <!--<input ng-model="search.$">-->
<!--</label>-->
<!--<br>-->
<!--<label>Name only-->
    <!--<input ng-model="search.name">-->
<!--</label>-->
<!--<br>-->
<!--<label>Phone only-->
    <!--<input ng-model="search.phone">-->
<!--</label>-->
<!--<br>-->
<!--<label>Equality-->
    <!--<input type="checkbox" ng-model="strict">-->
<!--</label>-->
<!--<br>-->
<!--<table id="searchObjResults">-->
    <!--<tr>-->
        <!--<th>Name</th>-->
        <!--<th>Phone</th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="friendObj in friends | filter:search:strict">-->
        <!--<td>{{friendObj.name}}</td>-->
        <!--<td>{{friendObj.phone}}</td>-->
    <!--</tr>-->
<!--</table>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<md-dialog aria-label="Mango (Fruit)">-->
    <!--<md-content class="md-padding">-->
        <!--<label>Search:-->
            <!--<input ng-model="searchText">-->
        <!--</label>-->
        <!--<table id="searchTextResults">-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Phone</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="friend in friends | filter:searchText">-->
                <!--<td>{{friend.name}}</td>-->
                <!--<td>{{friend.phone}}</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<hr>-->
        <!--<label>Any:-->
            <!--<input ng-model="search.$">-->
        <!--</label>-->
        <!--<br>-->
        <!--<label>Name only-->
            <!--<input ng-model="search.name">-->
        <!--</label>-->
        <!--<br>-->
        <!--<label>Phone only-->
            <!--<input ng-model="search.phone">-->
        <!--</label>-->
        <!--<br>-->
        <!--<label>Equality-->
            <!--<input type="checkbox" ng-model="strict">-->
        <!--</label>-->
        <!--<br>-->
        <!--<table id="searchObjResults">-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Phone</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="friendObj in friends | filter:search:strict">-->
                <!--<td>{{friendObj.name}}</td>-->
                <!--<td>{{friendObj.phone}}</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</md-content>-->
    <!--<div class="md-actions" layout="row"> <span flex></span>-->
        <!--<md-button ng-click="answer(\'not useful\')"> Cancel </md-button>-->
        <!--<md-button ng-click="answer(\'useful\')" class="md-primary"> Save </md-button>-->
    <!--</div>-->
<!--</md-dialog>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<md-dialog aria-label="Mango (Fruit)">-->
    <!--<md-content class="md-padding">-->
        <!--<label>Search:-->
            <!--<input ng-model="searchText">-->
        <!--</label>-->
        <!--<table id="searchTextResults">-->
            <!--<tr>-->
                <!--<th>Name</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="user in fullUsersList | filter:searchText">-->
                <!--<td>{{scope.user.name}}</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<hr>-->
        <!--<label>Any:-->
            <!--<input ng-model="search.$">-->
        <!--</label>-->
        <!--<br>-->
        <!--<label>Name only-->
            <!--<input ng-model="search.name">-->
        <!--</label>-->
        <!--<br>-->
        <!--<br>-->
        <!--<table id="searchObjResults">-->
            <!--<tr>-->
                <!--<th>Name</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="userObj in fullUsersList | filter:search:strict">-->
                <!--<td>{{userObj.name}}</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</md-content>-->
    <!--<div class="md-actions" layout="row"> <span flex></span>-->
        <!--<md-button ng-click="answer(\'not useful\')"> Cancel </md-button>-->
        <!--<md-button ng-click="answer(\'useful\')" class="md-primary"> Save </md-button>-->
    <!--</div>-->
<!--</md-dialog>-->
