<md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
        Normal
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
        High Priority
    </md-tab>
</md-tabs>

<ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
<div class="text-center">
    <md-content md-theme="docs-dark" layout-padding="" layout="row" layout-sm="column">
        <md-input-container>
            <label>Username</label>
            <input ng-model="user.username">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="user.password">
        </md-input-container>
    </md-content>
</div>
    </div>
    <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">

    </div>
</ng-switch>
